<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/bancansu-grade-list.css" />
  <link rel="stylesheet" href="/src/css/bancansu-grade-list-responsive.css" />
  <title>Quản Lí Bảng Điểm</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <%- include(thongbao) %>
    <%let global_year = ""%>
    <% let cy = curr_year.split('_'); %>
    <div class="container">
      <div class="content">

        <div class="manager">
          <div class="content content_top">
            <h2>DANH SÁCH BẢNG ĐIỂM </h2>
            <div class="group_btn">
              <div class="hk_nk">
                <span>Học kỳ</span>
                <div class="selectbox hoc_ky">
                  <div class="select">
                    <select>
                      <% for (let i = 1; i <= years[cy[1]].length; i++) {%>
                        <% if (i == parseInt(cy[0].slice(2))) {%>
                          <option value="<%= i %>" selected="selected"><%= i %></option>
                          <%global_year = `HK${i}_`%>
                        <% } else { %>
                          <option value="<%= i %>"><%= i %></option>
                        <% } %>
                      <% } %>
                    </select>
                  </div>
                </div>
                <span>Niên khóa</span>
                <div class="selectbox nien_khoa">
                  <div class="select">
                    <select>
                      <% for (const key of Object.keys(years)) {%>
                        <% if (key == cy[1]) {%>
                          <option selected="selected"><%= key %></option>
                          <%global_year += key%>
                        <% } else { %>
                          <option><%= key %></option>
                        <% } %>
                      <% } %>
                    </select>
                  </div>
                </div>
                <button class="button-35 load_list_btn">Chọn</button>
              </div>
            </div>
          </div>
        </div>




        <div class="danh_sach_bang_diem">
          <div class="control">
            <button class="button-35 export_btn">Xuất báo cáo</button>
            <button class="button-35 auto_mark_btn">Duyệt bảng điểm đã chọn</button>
          </div>
          <div class="chu_thich">
            <p><span class="dau_sao">*</span> Không nộp bảng điểm tự chấm</p>
            <p><span class="mau_vang"></span> Có cập nhật mới</p>
          </div>
          <div class="table_container">
            <table>
              <thead>
                <tr>
                  <th style="width: 4%">
                    <!-- set id của input == for của label -->
                    <!-- thêm class "new_update" cho td có cập nhật điểm mới chưa được chấm -->
                    <!-- <span class="dau_sao">*</span> đứng phía sau tên (ai không tự đánh giá) -->
                    <div class="checkbox-wrapper-4">
                      <input type="checkbox" id="row0" class="inp-cbx all-cbx" value="2" />
                      <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                      </label>
                  </th>
                  <th style="width: 3%">STT</th>
                  <th style="width: 11%">MSSV</th>
                  <th >Họ Tên</th>
                  <th style="width: 6%">Điểm Tự Chấm</th>
                  <th style="width: 6%">Tổng điểm Lần 1</th>
                  <th >Chấm Lần 1</th>
                  <th style="width: 6%">Tổng Điểm Chính Thức</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < student_list.length; i++)  {%>
                <tr>
                  <td>
                    <div class="checkbox-wrapper-4">
                      <input type="checkbox" id="row<%=i+1%>" class="inp-cbx" value="<%= student_list[i]._id %>" />
                      <label for="row<%=i+1%>" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                      </label>
                    </div>
                  </td>
                  <td><%= i + 1 %></td>
                  <td><%= student_list[i]._id %></td>
                  <td><%= student_list[i].last_name + " " +  student_list[i].first_name%>
                    <%if(student_scores[i] == '-' ||  student_scores[i]== 0){%>
                    <span class="dau_sao">*</span>
                    <%}%>
                  </td>
                  <%if(department_scores[i] != '-'){%>
                    
                    <td class="zero_score"><%= student_scores[i] %></td>
                    <td class="first_score"><%= staff_scores[i] %></td>
                    <td class="marker_name"><%= staff_name[i] %></td>
                    <td class="new_update last_score"><%= department_scores[i] %></td>
                    <td><a href="/hocsinh/xembangdiem?schoolYear=<%=global_year%>&mssv=<%=student_list[i]._id%>">Xem điểm</a></td>
                    
                <%}else {%>
              <%if(staff_scores[i] != '-'){%>
                <td class="zero_score"><%= student_scores[i] %></td>
                <td class="new_update first_score"><%= staff_scores[i] %></td>
                
                <%}else {%>
                  <%if(student_scores[i] != '-'){%>
                    <td class="new_update zero_score"><%= student_scores[i] %></td>
                    <td class="first_score"><%= staff_scores[i] %></td>
                    <%}else {%>
                      <td class="zero_score"><%= student_scores[i] %></td>
                      <td class="first_score"><%= staff_scores[i] %></td>
                    <%}%>
                  
                  <%}%>
                  <td class="marker_name"><%= staff_name[i] %></td>
                  <td class="last_score"><%= department_scores[i] %></td>
                  <%if(student_scores[i] != '-' &&  student_scores[i]!= 0){%>
                    <td><a href="/bancansu/nhapdiemdanhgia?schoolYear=<%=global_year%>&studentId=<%=student_list[i]._id%>" class="set_score_btn">Chấm điểm</a></td>
  
                    <%}else {%>
                      <td>-</td>
    
                    <%}%>
                  <%}%>
                  
                  
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include(footer) %>
</body>
<script src="/src/JS/bancansu-grade-list.js"></script>
</html>