<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/doankhoa-activeregistration.css" />
  <title>Đánh Giá Hoạt Động Rèn Luyện</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
      <%- include(thongbao) %>
        <%- include(menu) %>
          <div class="container">
            <div class="content">
              <div class="activity-board">
                <h2>
                  <%=curr_act.name.toUpperCase()%>
                </h2>
                <section class="activity_body">
                  <div class="activity_body_details">
                    <!-- Format Date() variable into Viet Nam reading struture -->
                    <% const hours=curr_act.start_time.getHours(); %>
                      <% const minutes=curr_act.start_time.getMinutes(); %>
                        <% const day=curr_act.start_time.getDate(); %>
                          <% const month=curr_act.start_time.getMonth() + 1; %>
                            <% const year=curr_act.start_time.getFullYear(); %>
                              <% const formattedTime=`${hours.toString().padStart(2, '0'
                                )}:${minutes.toString().padStart(2, '0' )}`; %>
                                <% const formattedDate=`${formattedTime} Ngày ${day} tháng ${month} năm ${year}`; %>
                                  <!-- ----------------------------------------------------- -->
                                  <p>Cấp độ: <span>
                                      <%=curr_act.level%>
                                    </span></p>
                                  <p>Thời gian diễn ra: <span>
                                      <%=formattedDate%>
                                    </span></p>
                                  <p>Chi tiết: <%=curr_act.content%>
                                  </p>
                  </div>

                </section>
              </div>

              <div class="activity-board">
                <h2>DANH SÁCH SINH VIÊN ĐÃ ĐĂNG KÝ</h2>
                <%if (curr_act.student_list){%>
                  <table class="table" id="school_tb">
                    <thead>
                      <tr>
                        <th style="width: 1%">
                          <div class="checkbox-wrapper-4">
                            <input type="checkbox" id="row__0" class="inp-cbx all-cbx" />
                            <label for="row__0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                            </label>
                          </div>
                        </th>
                        <th style="width: 2%">MSSV</th>
                        <th style="width: 40%">Họ Và Tên</th>
                        <th style="width: 10%">Lớp</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%const data_student=curr_act.info_student%>
                        <% for (let i=0; i < data_student.length; i++) {%>

                          <tr class="atv_box">
                            <td>
                              <div class="checkbox-wrapper-4">
                                <input type="checkbox" id="row__0__0" class="inp-cbx" value="18101911" />
                                <label for="row__0__0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                                </label>
                              </div>
                            </td>
                            <td>
                              <%=data_student[i]._id%>
                            </td>
                            <td class="a_name">
                              <%=`${data_student[i].last_name} ${data_student[i].first_name}`%>
                            </td>
                            <td class="class_student">
                              <%=data_student[i].class[0]%>
                            </td>
                          </tr>

                          <%}%>
                    </tbody>
                  </table>
                  <%} else {%>
                    <h1>Không có học sinh nào!</h1>
                    <%}%>
              </div>
              <!--ghi danh -->
            </div>
          </div>
          <%- include(footer) %>
</body>

</html>