<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/bancansu-grade-list.css" />
  <link rel="stylesheet" href="/src/css/doankhoa-grade-list-responsive.css" />
  <title>Quản Lí Bảng Điểm</title>
</head>

<body>
  <div class="main">

    <%- include(header) %>
    <%- include(thongbao) %>

    <% let cy=curr_year.split('_'); %>
    <%let global_year = ""%>

    <div class="container">
      <%- include(menu) %>
      <div class="content">

        <div class="manager">
          <div class="content content_top">
            <h2>DANH SÁCH BẢNG ĐIỂM </h2>
            <div class="group_btn">
              <div class="hk_nk">
                <div class="year_full">
                  <div class="hk">
                    <span class="hocky">Học kỳ</span>
                    <div class="selectbox selectbox--hocky">
                      <div class="select">
                        
                        <select name="" id="">
                        
                          <option value="1">
                            1
                          </option>
                          <option value="2">
                            2
                          </option>
                          <option value="3">
                            3
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="hk">
                    <span>Niên khóa</span>
                    <div class="selectbox nien_khoa">
                      <div class="select">
                        <select>
                          <% for (const key of Object.keys(years)) {%>
                          <% if (key==cy[1]) {%>
                          <option selected="selected">

                            <%= key %>
                          </option>
                          <%global_year += key%>
                          <% } else { %>
                          <option>
                            <%= key %>
                          </option>
                          <% } %>
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="year_full">
                  <div class="hk">
                    <span>Bộ môn</span>
                    <div class="selectbox --bomon">
                      <div class="select">
                        <select>
                          <%let curr_index=0%>
                          <% for (let i=0; i < branch.length; i++) {%>
                          <% if (branch[i]._id==cls[0].branch) {%>
                          <%curr_index=i%>
                          <option value="<%= branch[i]._id %>" selected="selected">
                            <%= branch[i].name %>
                          </option>
                          <% } else { %>
                          <option value="<%= branch[i]._id %>">
                            <%= branch[i].name %>
                          </option>
                          <% } %>classlist
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="hk">
                    <span>Lớp</span>
                    <div class="selectbox --class">
                      <div class="select">
                        <select>
                          <% for (let i=0; i < cls.length; i++) {%>
                            <% if (cls[i].branch==branch[curr_index]._id) {%>
                          <option value="<%= i %>" selected="selected">
                            <%= cls[i]._id %>
                          </option>
                          <% } else {%>
                          <option value="<%= i %>">
                            <%= cls[i]._id %>
                          </option>
                          <% } %>
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="btn_choice">

                    <button class="button-35 button-35-a">Chọn</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="danh_sach_bang_diem">
          <div class="control">
            <button class="button-35 export_btn">Xuất báo cáo</button>
            <button class="button-35 export_one_btn">Xuất báo cáo cá nhân</button>
            <button class="button-35 auto_mark_btn">Duyệt bảng điểm đã chọn</button>
          </div>
          <div class="chu_thich">
            <p><span class="dau_sao">*</span> Không nộp bảng điểm tự chấm</p>
            <p><span class="mau_vang"></span> Có cập nhật mới</p>
          </div>
          <div class="table_container">
            <table>
              <thead>
                <tr>
                  <th style="width: 4%">
                    <!-- set id của input == for của label -->
                    <!-- thêm class "new_update" cho td có cập nhật điểm mới chưa được chấm -->
                    <!-- <span class="dau_sao">*</span> đứng phía sau tên (ai không tự đánh giá) -->
                    <div class="checkbox-wrapper-4">
                      <input type="checkbox" id="row0" class="inp-cbx all-cbx" value="2" />
                      <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                      </label>
                  </th>
                  <th style="width: 3%">STT</th>
                  <th style="width: 11%">MSSV</th>
                  <th>Họ Tên</th>
                  <th style="width: 6%">Điểm Tự Chấm</th>
                  <th style="width: 6%">Tổng điểm Lần 1</th>
                  <th>Chấm Lần 1</th>
                  <th style="width: 6%">Tổng Điểm Chính Thức</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <% for (let i=0; i < student_list.length; i++) {%>
                <% const curr_year_total = student_list[i].total_score[curr_year]; %>
                <% if (curr_year_total) { %>
                <tr>
                  <td>
                    <div class="checkbox-wrapper-4">
                      <input type="checkbox" id="row<%=i+1%>" class="inp-cbx" value="<%= student_list[i]._id %>" />
                      <label for="row<%=i+1%>" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= student_list[i]._id %>
                  </td>
                  <td>
                    <%= student_list[i].last_name + " " + student_list[i].first_name%>
                    
                    <% if( !curr_year_total.std || curr_year_total.std === 0 ) {%>
                    <span class="dau_sao">*</span>
                    <% } %>
                  </td>
                  <% if(curr_year_total.dep || curr_year_total.dep === 0) { %>
                  <td class="zero_score"><%= curr_year_total.std %></td>
                  <td class="first_score"><%= curr_year_total.stf %></td>
                  <td class="marker_name"><%= curr_year_total.marker %></td>
                  <td class="new_update khoa_score"><%= curr_year_total.dep %></td>
                  <td><a class="chamdiem">Chấm điểm</a></td>
                  <%} else {%>
                  <% if(curr_year_total.stf || curr_year_total.stf === 0) { %>
                  <td class="zero_score"><%= curr_year_total.std %></td>
                  <td class="new_update first_score"><%= curr_year_total.stf %></td>
                  <td class="marker_name"><%= curr_year_total.marker %></td>
                  <%} else {%>
                  <%if(curr_year_total.std || curr_year_total.std === 0){%>
                  <td class="new_update zero_score"><%= curr_year_total.std %></td>
                  <td class="first_score">-</td>
                  <%} else {%>
                  <td class="zero_score">-</td>
                  <td class="first_score">-</td>
                  <%}%>
                          <td class="marker_name">-</td>
                  <%}%>
                  <td class="khoa_score">-</td>
                  <% if( curr_year_total.std || curr_year_total.std === 0) { %>
                  <td><a class="chamdiem">Chấm điểm</a></td>
                  <%}else {%>
                  <td>-</td>
                  <%}%>
                      <%}%>
                </tr>
                <% } else { %>
                <tr>
                  <td>
                    <div class="checkbox-wrapper-4">
                      <input type="checkbox" id="row<%=i+1%>" class="inp-cbx" value="<%= student_list[i]._id %>" />
                      <label for="row<%=i+1%>" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= student_list[i]._id %>
                  </td>
                  <td>
                    <%= student_list[i].last_name + " " + student_list[i].first_name%>
                    <span class="dau_sao">*</span>
                  </td>
                  <td class="zero_score">-</td>
                  <td class="first_score">-</td>
                  <td class="marker_name">-</td>
                  <td class="khoa_score">-</td>
                  <td><a class="chamdiem">-</a></td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="loader-parent">
      <div class="loader">
        <div class="square-1 square"></div>
        <div class="square-2 square"></div>
      </div>
    </div>
  </div>
  <%- include(footer) %>
</body>
<script>
  const branch_list = <%-JSON.stringify(branch) %>;
  const class_list = <%-JSON.stringify(cls) %>;
  const year_cur = <%-JSON.stringify(curr_year) %>;
</script>
<script src="/src/JS/doankhoa-grade-list.js"></script>

</html>