<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đổi mật khẩu</title>

        <link rel="stylesheet" href="/src/css/global-first-login.css" />
    </head>

    <body>
        <div class="main bg-[#e7ecf0]">
            <%- include(header) %> <%- include(thongbao) %> <%if (quyen.pow[5]){%> <%- include(menu) %> <%}%>

            <div class="content">
                <div class="login-box">
                    <form class="login_form">
                        <div class="user-box">
                            <input
                                type="password"
                                name="old_password"
                                class="old_password_input"
                                required=""
                                id="password_input"
                            />
                            <div class="eye">
                                <i class="fa-regular fa-eye-slash"></i>
                            </div>
                            <label>Mật khẩu cũ</label>
                        </div>
                        <div class="user-box">
                            <input
                                type="password"
                                name="password"
                                class="password_input"
                                required=""
                                id="password_input"
                            />
                            <div class="eye">
                                <i class="fa-regular fa-eye-slash"></i>
                            </div>
                            <label>Mật khẩu mới</label>
                        </div>
                        <div class="user-box">
                            <input type="password" name="again_password" class="again_password_input" required="" />
                            <label>Nhập lại mật khẩu mới</label>
                        </div>
                        <center>
                            <a class="login_btn">Lưu </a>
                        </center>
                    </form>
                </div>
            </div>
        </div>
        <%- include(footer) %>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.0.0/jsencrypt.min.js"></script>
    <script>
        const key_public = `<%= secretKey %>`;
    </script>
    <script src="/src/JS/global-change-password.js"></script>
</html>
