  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%if (pow[0] && !pow[1] && !pow[2] && !pow[3] && !pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
    <link rel="stylesheet" href="/src/css/sinhvien-index.css" />
    <link rel="stylesheet" href="/src/css/sinhvien-index-responsive.css" />
    <%} else if (pow[0] && !pow[2] && !pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
    <link rel="stylesheet" href="/src/css/bancansu-index.css" />
    <link rel="stylesheet" href="/src/css/bancansu-index-responsive.css" />
    <%} else if (!pow[0] && pow[1] && !pow[2] && pow[3] && pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
    <link rel="stylesheet" href="/src/css/bancansu-index.css" />
    <link rel="stylesheet" href="/src/css/bancansu-index-responsive.css" />
    <%} else if (!pow[0] && !pow[1] && pow[2] && !pow[3] && !pow[4] && pow[5] && pow[6] && pow[7] && pow[8]){%>
    <link rel="stylesheet" href="/src/css/doankhoa-index.css" />
    <%}%>
 
    <title>Quản lý điểm rèn luyện</title>
  </head>

  <body>
    <div class="main">
      <%- include(header) %>
    <%- include(thongbao) %>
    <div class="container">
      <!-- Sinh viên index -->
      <%if (pow[0] && !pow[1] && !pow[2] && !pow[3] && !pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
      <!-- Nộp bảng chấm điểm -->
      <div class="submit-mark">
        <div class="content content_top">
          <h2>ĐÁNH GIÁ BẢNG ĐIỂM CÁ NHÂN</h2>
          <a href="/nhapdiemdanhgia">
            <button class="button-35" id="page-button">Nộp bảng điểm</button>
          </a>
        </div>
      </div>
      <!-- Tra cứu thông tin cá nhân -->
      <div class="tra-cuu">
        <div class="content content_top">
          <h1></h1>
          <div class="nien-khoa">
            <p>Niên khóa</p>
            <div class="selectbox">
              <div class="select" style="margin: 0.9rem;">
                <select id="mySelect2">
                  <% for (let i = 0; i < nienkhoa.length; i++) {%>
                  <%if (bandiem[0].year.slice(4) == nienkhoa[i]){%>
                  <option selected value="<%=nienkhoa[i]%>"><%=nienkhoa[i]%></option>
                  <%} else {%>
                  <option value="<%=nienkhoa[i]%>"><%=nienkhoa[i]%></option>
                  <%}%>
                  <%}%>
                </select>
              </div>
            </div>
          </div>
          <div class="sub-container">
            <div class="mark-box">
              <!-- <h3 class="title-box">Điểm Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr style="display: table-row;">
                    <th class="column1" style="width: 22%;">Học Kỳ I</th>
                    <th class="column2" style="width: 48%;">Tổng Điểm Rèn Luyện</th>
                    <th class="column3" style="width: 25rem;">Chi Tiết</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < bandiem.length; i++) {%>

                  <tr>
                    <td><%=i+1%></td>
                    <td class="total-result" data-year="HK<%=i+1%>_total"><%=bandiem[i].total%></td>
                    <%if (bandiem[i].total != 'Chưa có điểm'){%>
                    <td><a href="/xembangdiem?schoolYear=<%=bandiem[i].year%>" id="HK<%=i+1%>">Xem Bảng Điểm</a></td>
                    <%} else {%>
                    <td><a id="HK<%=i+1%>" style="display: none;">Xem Bảng Điểm</a></td>
                    <%}%>
                  </tr>
                  <%}%>

                </tbody>
              </table>
            </div>
            <div class="activity-box">
              <!-- <h3 class="title-box">Hoạt Động Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr>
                    <th style="width: 3%;">STT</th>
                    <th style="width: 5%;">Học Kỳ</th>
                    <th style="width: 30%;">Tên Hoạt Động</th>
                    <th style="width: 10%;">Cấp Độ</th>
                    <th style="width: 5%;">Tham Gia</th>
                    <th style="width: 5%;">Khen Thưởng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Ban cán sự 2 quyền index -->
      <%} else if (pow[0] && !pow[2] && !pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
      <!-- Quản lí điểm -->
      <div class="manager">
        <div class="content content_top">
          <h2>QUẢN LÍ LỚP HỌC</h2>
          <%if (pow[1] && pow[3]){%>

          <a href="/bancansu/danhsachbangdiem"><button class="button-35">Quản lí điểm rèn luyện</button></a>
          <a href="/bancansu/quanlihoatdong"><button class="button-35">Quản lí hoạt động</button></a>
          <%} else if (pow[1] && !pow[3]){%>
          <a href="/bancansu/danhsachbangdiem"><button class="button-35">Quản lí điểm rèn luyện</button></a>
          <%} else if (!pow[1] && pow[3]){%>
          <a href="/bancansu/quanlihoatdong"><button class="button-35">Quản lí hoạt động</button></a>
          <%}%>
            </div>
      </div>
      <!-- Nộp bảng chấm điểm -->
      <div class="submit-mark">
        <div class="content content_top">
          <h2>ĐÁNH GIÁ ĐIỂM CÁ NHÂN</h2>
          <a href="/nhapdiemdanhgia"><button class="button-35">Nộp bảng điểm</button></a>
        </div>
      </div>
      <!-- Tra cứu -->
      <div class="tra_cuu">
        <div class="content content_top">
          <h2>TRA CỨU THÔNG TIN</h2>
          <div class="nien-khoa">
            <p>Niên khóa</p>
            <div class="selectbox">
              <div class="select">
                <select id="mySelect2">
                  <option value="">2022-2023</option>
                </select>
              </div>
            </div>
            <button class="button-35">Chọn</button>
          </div>
          <div class="sub-container">
            <div class="mark-box">
              <!-- <h3 class="title-box">Điểm Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr style="display: table-row;">
                    <th class="column1" style="width: 22%;">Học Kỳ I</th>
                    <th class="column2" style="width: 48%;">Tổng Điểm Rèn Luyện</th>
                    <th class="column3" style="width: 14%;">Chi Tiết</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>9x</td>
                    <td><a href="xxxx">Xem Bảng Điểm</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>9x</td>
                    <td><a href="xxxx">Xem Bảng Điểm</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="activity-box">
              <!-- <h3 class="title-box">Hoạt Động Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr>
                    <th style="width: 3%;">STT</th>
                    <th style="width: 5%;">Học Kỳ</th>
                    <th style="width: 30%;">Tên Hoạt Động</th>
                    <th style="width: 10%;">Cấp Độ</th>
                    <th style="width: 5%;">Tham Gia</th>
                    <th style="width: 5%;">Khen Thưởng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>    
      <!-- Giáo viên index -->
      <%} else if (!pow[0] && pow[1] && !pow[2] && pow[3] && pow[4] && !pow[5] && !pow[6] && !pow[7] && !pow[8]){%>
          <div class="content content_top">

            <div class="chitiet">
              <div class="control">
                <div class="left">
                  <div class="file_input">
                    <button class="btn_input button-35">Chọn file sinh viên</button>
                    <input class="inp_file" type="file" />
                  </div>
                  <button class="btn_upload button-35">Tải lên</button>
                </div>
                <div class="right">
                  <button id="delete-student" class="button-35">Xóa</button>
                  <button id="add-student" class="button-35">Thêm sinh viên</button>
                </div>
              </div>
              <table>
                <thead>
                  <tr>
                    <th style="width: 2%">
                      <div class="checkbox-wrapper-4">
                        <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                        <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                        </label>
                      </div>
                    </th>
                    <th style="width: 3%">STT</th>
                    <th>MSSV</th>
                    <th>Họ Tên</th>
                    <th>Vai trò</th>
                    <th style="width: 5%">Đảng viên</th>
                    <th style="width: 5%">Chấm Lần</th>
                    <th style="width: 5%">Lập hoạt động</th>
                    <th style="width: 12%"></th>
                  </tr>
                </thead>
                <tbody class="js_tbody">
                </tbody>
              </table>
            </div>
          </div>
          <!-- Đoàn khoa index -->
          <%} else if (!pow[0] && !pow[1] && pow[2] && !pow[3] && !pow[4] && pow[5] && pow[6] && pow[7] && pow[8]){%>
          <div class="manager manager__info">
            <div class="content content__info content_top">
              <h2>QUẢN LÍ THÔNG TIN</h2>
              <a href="/doan_khoa/quan_li_bm">
                <button class="button-35" id="page-button">Quản lí Bộ môn</button>
              </a>
              <a href="/doan_khoa/quan_li_lop">
                <button class="button-35" id="page-button">Quản lí Lớp</button>
              </a>
              <a href="/doan_khoa/quan_li_cv">
                <button class="button-35" id="page-button">Quản lí Cố vấn</button>
              </a>
              <a href="/doan_khoa/danhsachsinhvien_cv">
                <button class="button-35" id="page-button">Quản lí Sinh viên</button>
              </a>
            </div>
          </div>
          <!-- Quản lí rèn luyện -->
          <div class="manager manager__train">
            <div class="content content__train content_top">
              <h2>QUẢN LÍ RÈN LUYỆN</h2>
              <a href="#">
                <button class="button-35" id="page-button">Quản lí điểm rèn luyện</button>
              </a>
              <a href="/doan_khoa/quan_li_hoat_dong_khoa">
                <button class="button-35" id="page-button">Quản lí hoạt động rèn luyện</button>
              </a>
              <a href="/doan_khoa/thoihan">
                <button class="button-35" id="page-button">Quản lí thời hạn</button>
              </a>
            </div>
          </div>
          <%}%>

    </div>
  </div>
  <%- include(footer) %>
          <script src="/src/JS/sinhvien-index.js"></script>
          </body>

  </html>