<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chấm Điểm Rèn Luyện</title>
  <link rel="stylesheet" href="/src/css/xemdiem.css" />
  <link rel="stylesheet" href="/src/css/xemsiem-res.css" />
</head>

<body>
  <div class="main ">
    <%- include(header) %>
    <%- include(thongbao) %>
    <div class="content">
      <div class="main-content m-auto">
        <h1 class="tittle-table">PHIẾU ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h1>
        <!-- <hr /> -->
        <!-- Table 1-->

        <table class="bang_cham_diem">
          <thead>
            <tr>
              <th>
                <p>Nội Dung Đánh Giá</p>
              </th>
              <th style="width: 12%">
                <p>Điểm Tối Đa</p>
              </th>
              <th style="width: 10%">
                <p>Điểm SV Tự Đánh Giá</p>
              </th>
              <th style="width: 10%">
                <p>Tập Thể Lớp</p>
              </th>
              <th style="width: 12%">
                <p>Khoa Đánh Giá</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-title">
              <td>

                <p class="title">1. Đánh giá về ý thức học tập</p>

              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  a. Ý thức, thái độ trong học tập.
                <p>(Nghỉ học 1 buổi không phép trừ 1 điểm; đi muộn hoặc bỏ
                  tiết mỗi 3 lần trừ 1 điểm)</p>
                </p>
              </td>
              <td>7 điểm
              </td>
              <td>
                <div class="score_1"><%=Scorestd.first[0]%></div>
              </td>
              <td>
                <div class="score_1"><%=Score.first[0]%></div>
              </td>
              <td>
                <div class="score_1"><%=Scorek.first[0]%></div>

              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  b. Tham gia các câu lạc bộ học thuật; các hoạt động học
                  thuật; hoạt động ngoại khóa; hoạt động nghiên cứu khoa học
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
                <div class="score_1"><%=Scorestd.first[1]%></div>

              </td>
              <td>
                <div class="score_1"><%=Score.first[1]%></div>
              </td>
              <td>
                <div class="score_1"><%=Scorek.first[1]%></div>

              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  c. Ý thức thực hiện tốt quy chế khi tham gia các kỳ thi.
                  cuộc thi
                </p>
              </td>
              <td>4 điểm
              </td>
              <td>
                <div class="score_1"><%=Scorestd.first[2]%></div>

              </td>
              <td>
                <div class="score_1"><%=Score.first[2]%></div>
              </td>
              <td>
                <div class="score_1"><%=Scorek.first[2]%></div>

              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Bị nhắc nhở khi thi, kiểm tra
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
                <%if (Scorestd.first[2] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%> 
              </td>
              <td>
                <%if (Score.first[2] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
              <td>
                <%if (Scorek.first[2] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Bị lập biên bản xử lý khi thi và kiểm tra
                </p>
              </td>
              <td>0 điểm
              </td>
              <td>
                <%if (Scorestd.first[2] == 0){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
              <td>
                <%if (Score.first[2] == 0){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
              <td>
                <%if (Scorek.first[2] == 0){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  d. Có tinh thần vượt khó, phấn đấu vươn lên trong học tập
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
                <div class="score_1"><%=Scorestd.first[3]%>
      </div>

              </td>
              <td>
                <div class="score_1"><%=Score.first[3]%></div>
              </td>
              <td>
                <div class="score_1"><%=Scorek.first[3]%></div>

              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  đ. Đạt kết quả cao trong học tập
                </p>
              </td>
              <td>5 điểm
              </td>
              <td class="score_1"> <%=Scorestd.first[4]%>

              </td>
              <td class="score_1"> <%=Score.first[4]%>

              </td>
              <td class="score_1"> <%=Scorek.first[4]%>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Loại Trung bình: Điểm số từ 2.0 đến 2.49
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
                <%if (Scorestd.first[4] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>   
              </td>
              <td>
                <%if (Score.first[4] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>          
              </td>
              <td>
                <%if (Scorek.first[4] == 2){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Loại Khá: Điểm số từ 2.5 đến 3.19
                </p>
              </td>
              <td>3 điểm
              </td>
              <td>
                <%if (Scorestd.first[4] == 3){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>    
              </td>
              <td>
                <%if (Score.first[4] == 3){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>             
              </td>
              <td>
                <%if (Scorek.first[4] == 3){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>   
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Loại Giỏi: Điểm số từ 3.2 đến 3.59
                </p>
              </td>
              <td>4 điểm
              </td>
              <td>
                <%if (Scorestd.first[4] == 4){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
              <td>
                <%if (Score.first[4] == 4){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>     
                </td>
              <td>
                <%if (Scorek.first[4] == 4){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%>  
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  - Loại Xuất sắc: Điểm số từ 3.6 đến 4.0
                </p>
              </td>
              <td>5 điểm
              </td>
              <td>
                <%if (Scorestd.first[4] == 5){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%> 
              </td>
              <td>
                <%if (Score.first[4] == 5){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%> 
              </td>
              <td>
                <%if (Scorek.first[4] == 5){%>
                <div class="check_score"><i class="fa-solid fa-check"></i></div>
                <%} else {%>
                <div class="check_score"></div>
                <%}%> 
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  Điểm tối đa nội dung 1 là 20 điểm
                </p>
              </td>
              <td>
              </td>
              <td id="total_muc_1"> <%=  Scorestd.first[0] + Scorestd.first[1] + Scorestd.first[2] + Scorestd.first[3] + Scorestd.first[4] %> điểm
              </td>
              <%if (Score.first[0] == 'Chưa chấm') {%>
              <td id="total_muc_1"> <%=  Score.first[0]%>
                <%}else {%>
              <td id="total_muc_1"> <%=  Score.first[0] + Score.first[1] + Score.first[2] + Score.first[3] + Score.first[4] %> điểm
                <%}%>
                  </td>
              <%if (Scorek.first[0] == 'Chưa chấm') {%>
              <td id="total_muc_1"> <%=  Scorek.first[0]%>
                <%}else {%>
              <td id="total_muc_1"> <%=  Scorek.first[0] + Scorek.first[1] + Scorek.first[2] + Scorek.first[3] + Scorek.first[4] %> điểm
                <%}%>
              </td>
            </tr>
      <tr class="tr-title">
        <td >

          <p class="title">2. Đánh giá về ý thức và kết quả chấp hành nội quy, quy
            chế, quy định trong nhà trường</p>

        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            a. Ý thức chấp hành các văn bản chỉ đạo của ngành, của cơ
            quan chỉ đạo cấp trên được thực hiện trong nhà trường.
          </p>
        </td>
        <td>15 điểm
        </td>
        <td>
            <div class="score_2"><%=Scorestd.second[0]%></div>
        </td>
        <td>
          <div class="score_2"><%=Score.second[0]%></div>
        </td>
        <td>
          <div class="score_2"><%=Scorek.second[0]%></div>

        </td>
      </tr>
      <tr>
      <td>
        <p class="first-column-value">
          - Bị nhắc nhở trong việc thực hiện
        </p>
      </td>
      <td>10 điểm
      </td>
      <td>
        <%if (Scorestd.second[0] == 10){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>
        </td>
        <td>
          <%if (Score.second[0] == 10){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>
        </td>
        <td>
          <%if (Scorek.second[0] == 10){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            - Bị xử lý kỷ luật từ mức khiển trách trở lên
          </p>
        </td>
        <td>0 điểm
        </td>
        <td>
          <%if (Scorestd.second[0] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%> 
        </td>
        <td>
          <%if (Score.second[0] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>     
        </td>
        <td>
          <%if (Scorek.second[0] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%> 
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            b. Ý thức chấp hành tốt, đầy đủ các nội quy, quy chế và
            các quy định khác của nhà trường
          </p>
        </td>
        <td>10 điểm
        </td>
        <td>
          <div class="score_2"><%=Scorestd.second[1]%></div>
        </td>
        <td>
          <div class="score_2"><%=Score.second[1]%></div>
        </td>
        <td>
          <div class="score_2"><%=Scorek.second[1]%></div>
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            - Bị nhắc nhở trong việc thực hiện
          </p>
        </td>
        <td>5 điểm
        </td>
        <td>
        <%if (Scorestd.second[1] == 5){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%> 
        </td>
        <td>
          <%if (Score.second[1] == 5){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>      
        </td>
        <td>
          <%if (Scorek.second[1] == 5){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>  
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            - Bị xử lý kỷ luật từ mức khiển trách trở lên
          </p>
        </td>
        <td>0 điểm
        </td>
        <td>
          <%if (Scorestd.second[1] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%> 
        </td>
        <td>
          <%if (Score.second[1] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>         
        </td>
        <td>
          <%if (Scorek.second[1] == 0){%>
        <div class="check_score"><i class="fa-solid fa-check"></i></div>
        <%} else {%>
        <div class="check_score"></div>
        <%}%>
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            Điểm tối đa nội dung 2 là 25 điểm
          </p>
        </td>
        <td>
        </td>
        <td>
          <%=Scorestd.second[0]+Scorestd.second[1]%> điểm

        <%if (Score.first[0] == 'Chưa chấm') {%>
      <td id="total_muc_1"> <%=  Score.first[0]%>
        <%}else {%>
      <td id="total_muc_2"> <%=Score.second[0]+Score.second[1]%> điểm
        <%}%>
          </td>
    
        <%if (Scorek.first[0] == 'Chưa chấm') {%>
      <td id="total_muc_2"> <%=  Scorek.first[0]%>
        <%}else {%>
      <td id="total_muc_2"> <%=Scorek.second[0]+Scorek.second[1]%> điểm
        <%}%>

      </td>
      </tr>
      <tr class="tr-title">
        <td>

          <p class="title">3. Đánh giá về ý thức và kết quả tham gia các hoạt động
            chính trị, xã hội, văn hoá, văn nghệ, thể thao, phòng
            chống tội phạm và các tệ nạn xã hội</p>

        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <p class="first-column-value">
            a. Tham gia tích cực các hoạt động chính trị, xã hội, văn
            hoá, văn nghệ, thể thao và có sự trưởng thành của bản thân
            qua các hoạt động rèn luyện:
          </p>
        </td>
        <td>8 điểm
        </td>
        <td>
          <div class="score_3"><%=Scorestd.third[0]%></div>

        </td>
        <td>
          <div class="score_3"><%=Score.third[0]%></div>
        </td>
        <td>
          <div class="score_3"><%=Scorek.third[0]%></div>

        </td>
      </tr>
      <tr>
    <td>
      <p class="first-column-value">
        - Tích cực tham gia các hoạt động chính trị, xã hội, văn
        hoá, văn nghệ, thể thao
      </p>
    </td>
    <td>5 điểm
    </td>
    <td>
      <%if (Scorestd.third[0] == 5){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%>   
      </td>
      <td>
        <%if (Score.third[0] == 5){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%>           
      </td>
      <td>
        <%if (Scorek.third[0] == 5){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%> 
      </td>
      </tr>
    <tr>
      <td>
        <p class="first-column-value">
          - Được kết nạp Đảng hoặc đạt danh hiệu Đoàn viên ưu tú
          hoặc đạt giải Nhất, Nhì, Ba trong các hoạt động chính trị,
          văn hóa, thể thao từ cấp trường trở lên
        </p>
      </td>
      <td>8 điểm
      </td>
      <td>
        <%if (Scorestd.third[0] == 8){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%>  
      </td>
      <td>
        <%if (Score.third[0] == 8){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%>  
      </td>
      <td>
        <%if (Scorek.third[0] == 8){%>
      <div class="check_score"><i class="fa-solid fa-check"></i></div>
      <%} else {%>
      <div class="check_score"></div>
      <%}%> 
      </td>
    </tr>
    <tr>
      <td>
        <p class="first-column-value">
          b. Tích cực tham gia các hoạt động công ích, tình nguyện,
          công tác xã hội
        </p>
      </td>
      <td>6 điểm
      </td>
      <td>
        <div class="score_3"><%=Scorestd.third[1]%></div>

      </td>
      <td>
        <div class="score_3"><%=Score.third[1]%></div>
      </td>
      <td>
        <div class="score_3"><%=Scorek.third[1]%></div>

      </td>
    </tr>
  <tr>
    <td>
      <p class="first-column-value">
        c. Tham gia tuyên truyền, phòng chống tội phạm, các tệ nạn
        xã hội và các hoạt động khác do lớp, khoa, trường, các
        đoàn thể, địa phương tổ chức
      </p>
    </td>
    <td>6 điểm
    </td>
    <td>
      <div class="score_3"><%=Scorestd.third[2]%></div>

    </td>
    <td>
      <div class="score_3"><%=Score.third[2]%></div>
    </td>
    <td>
      <div class="score_3"><%=Scorek.third[2]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p>
        Điểm tối đa nội dung 3 là 20 điểm
      </p>
    </td>
    <td>
    </td>
    <td>
      <%=Scorestd.third[0]+Scorestd.third[1]+Scorestd.third[2]%> điểm

    </td>
    <%if (Score.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_1"> <%=  Score.first[0]%>
      <%}else {%>
    <td id="total_muc_1"> <%=Score.third[0]+Score.third[1]+Score.third[2]%> điểm
      <%}%>
        </td>
  
  
      <%if (Scorek.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_3"> <%=  Scorek.first[0]%>
      <%}else {%>
    <td id="total_muc_3"> <%=Scorek.third[0]+Scorek.third[1]+Scorek.third[2]%> điểm
      <%}%>
    </td>
  </tr>
  <tr class="tr-title">
    <td>

      <p class="title">4. Đánh giá về ý thức công dân trong quan hệ cộng
        đồng</p>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        a. Chấp hành và tham gia tuyên truyền các chủ trương của
        Đảng, chính sách, pháp luật của Nhà nước tại nơi cư trú
      </p>
    </td>
    <td>10 điểm
    </td>
    <td>
      <div class="score_4"><%=Scorestd.fourth[0]%></div>

    </td>
    <td>
      <div class="score_4"><%=Score.fourth[0]%></div>
    </td>
    <td>
      <div class="score_4"><%=Scorek.fourth[0]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        b. Được ghi nhận, biểu dương, khen thưởng về tham gia các
        hoạt động xã hội
      </p>
    </td>
    <td>5 điểm
    </td>
    <td>
      <div class="score_4"><%=Scorestd.fourth[1]%></div>

    </td>
    <td>
      <div class="score_4"><%=Score.fourth[1]%></div>
    </td>
    <td>
      <div class="score_4"><%=Scorek.fourth[1]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        c. Có tinh thần chia sẻ, giúp đỡ bạn bè, người thân, người
        có hoàn cảnh khó khăn, hoạn nạn.
      </p>
    </td>
    <td>10 điểm
    </td>
    <td>
      <div class="score_4"><%=Scorestd.fourth[2]%></div>

    </td>
    <td>
      <div class="score_4"><%=Score.fourth[2]%></div>
    </td>
    <td>
      <div class="score_4"><%=Scorek.fourth[2]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p>
        Điểm tối đa nội dung 4 là 25 điểm</p>
    </td>
    <td>
    </td>
    <td id="total_muc_4">
      <%=Scorestd.fourth[0]+Scorestd.fourth[1]+Scorestd.fourth[2]%> điểm
    </td>
    <%if (Score.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_4"> <%=  Score.first[0]%>
      <%}else {%>
    <td id="total_muc_4"> <%=Score.fourth[0]+Score.fourth[1]+Score.fourth[2]%> điểm
      <%}%>
    </td>
      <%if (Scorek.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_4"> <%=  Scorek.first[0]%>
      <%}else {%>
    <td id="total_muc_4"> <%=Scorek.fourth[0]+Scorek.fourth[1]+Scorek.fourth[2]%> điểm
      <%}%>
    </td>
  </tr>
  <tr class="tr-title">
    <td colspan="2">

      <p class="title" style="font-size: 1.5rem;">5. Đánh giá về ý thức và kết quả tham gia công tác phụ
        trách lớp, các đoàn thể, tổ chức trong nhà trường hoặc
        đạt được thành tích đặc biệt trong học tập, rèn luyện
        của học sinh, sinh viên</p>

    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        a. Tham gia tích cực vào phong trào của Lớp, Đoàn, Hội
        sinh viên và các công tác đoàn thể xã hội khác
      </p>
    </td>
    <td>3 điểm
    </td>
    <td>
      <div class="score_5"><%=Scorestd.fifth[0]%></div>

    </td>
    <td>
      <div class="score_5"><%=Score.fifth[0]%></div>
    </td>
    <td>
      <div class="score_5"><%=Scorek.fifth[0]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        b. Phát huy vai trò và hoàn thành tốt nhiệm vụ người cán
        bộ Chi đoàn, Lớp, Câu lạc bộ, Đội tự quản
      </p>
    </td>
    <td>3 điểm
    </td>
    <td>
      <div class="score_5"><%=Scorestd.fifth[1]%></div>

    </td>
    <td>
      <div class="score_5"><%=Score.fifth[1]%></div>
    </td>
    <td>
      <div class="score_5"><%=Scorek.fifth[1]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        c. Đảm nhiệm, đóng góp có hiệu quả cho công tác Đoàn
        trường, Hội sinh viên, Liên chi đoàn, Đội tự quản, Câu lạc
        bộ
      </p>
    </td>
    <td>2 điểm
    </td>
    <td>
      <div class="score_5"><%=Scorestd.fifth[2]%></div>

    </td>
    <td>
      <div class="score_5"><%=Score.fifth[2]%></div>
    </td>
    <td>
      <div class="score_5"><%=Scorek.fifth[2]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">
        d. Được biểu dương, khen thưởng vì có thành tích đặc biệt
        trong học tập, rèn luyện và các hoạt động khác
      </p>
    </td>
    <td>2 điểm
    </td>
    <td>
      <div class="score_5"><%=Scorestd.fifth[3]%></div>

    </td>
    <td>
      <div class="score_5"><%=Score.fifth[3]%></div>
    </td>
    <td>
      <div class="score_5"><%=Scorek.fifth[3]%></div>

    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">- Cấp khoa</p>
    </td>
    <td>1 điểm
    </td>
    <td>
    <%if (Scorestd.fifth[3] == 1){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%>  
    </td>
    <td>
      <%if (Score.fifth[3] == 1){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%>  
    </td>
    <td>
      <%if (Scorek.fifth[3] == 1){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%> 
    </td>
  </tr>
  <tr>
    <td>
      <p class="first-column-value">- Cấp trường trở lên</p>
    </td>
    <td>2 điểm
    </td>
    <td>
      <%if (Scorestd.fifth[3] == 2){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%>    
    </td>
    <td>
      <%if (Score.fifth[3] == 2){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%>      
    </td>
    <td>
      <%if (Scorek.fifth[3] == 2){%>
    <div class="check_score"><i class="fa-solid fa-check"></i></div>
    <%} else {%>
    <div class="check_score"></div>
    <%}%>  
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Điểm tối đa nội dung 5 là 10 điểm
        </>
    </td>
    <td>
    </td>
    <td id="total_muc_5">
      <%=Scorestd.fifth[0]+Scorestd.fifth[1]+Scorestd.fifth[2]+Scorestd.fifth[3]%> điểm

    </td>
    <%if (Score.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_5"> <%=  Score.first[0]%>
      <%}else {%>
    <td id="total_muc_5"> <%=Score.fifth[0]+Score.fifth[1]+Score.fifth[2]+Score.fifth[3]%> điểm
      <%}%>
        </td>
      <%if (Scorek.first[0] == 'Chưa chấm') {%>
    <td id="total_muc_5"> <%=  Scorek.first[0]%>
      <%}else {%>
    <td id="total_muc_5"><%=Scorek.fifth[0]+Scorek.fifth[1]+Scorek.fifth[2]+Scorek.fifth[3]%> điểm
      <%}%>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Tổng điểm tối đa: 100 điểm
      </p>
    </td>
    <td>

    </td>
    <td id="total_all"><%=Scorestd.total%> điểm
    </td>
    <%if (Score.first[0] == 'Chưa chấm') {%>
    <td id="total_all"><%=Score.total%>
      <%}else {%>
    <td id="total_all"><%=Score.total%> điểm
      <%}%>
    </td>
    <%if (Scorek.first[0] == 'Chưa chấm') {%>
    <td id="total_all"><%=Scorek.total%>
      <%}else {%>
    <td id="total_all"><%=Scorek.total%> điểm
      <%}%>
    </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  <%- include(footer) %>
  <script src="/src/JS/xemdiem.js"></script>
</body>

</html>